.relative {

    padding: 10px;
    position: relative;
    /* background-color: #c7ed2c; */
    margin: 10px;
    width: 712px;
    height: 100px;
   } 
   .navitem {
     display: inline-block;
     width: 230px; 
     height: 40px; 
     text-align: center;
     border: gray;
     background-color: #f0eae8;
     color: #161616;
     cursor: pointer;
     /* font-weight: bold; */
   }